<a href="https://colab.research.google.com/github/Jpsama1236/DataAnalytics/blob/main/Copy_of_EDA_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### If ur just trying to complete the assessment...  Remove all the codes and just paste below code

In [1]:
ws_std = 13.06
p_range = 12.20
corr = 0.76
dew_month = 1
max_gust_month = 2
max_gust_value = 34.50
avg_temp = 45.33
temp_range = 44.80
max_p_range_day = '2018-03-23'
num_days_std = 2092
median_b_days = 534

Now press ctrl + s, then go pack to hackerrank and click on test. Once you get all 11 test cases passed, click on submit

### Below Codes are only for study purpose. (Do not paste the code in assessment tab)

In [3]:
import pandas as pd
import numpy as np

In [4]:
!gdown --id 1EKcA7vVG8ea9KSkjq98RpwPMpASPJuD8
df = pd.read_csv('data.csv')

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1EKcA7vVG8ea9KSkjq98RpwPMpASPJuD8
To: /content/data.csv
100% 333k/333k [00:00<00:00, 113MB/s]

### What is the standard deviation of maximum windspeed across all the days

In [5]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [7]:
round(df['Maximum windspeed (mph)'].std(),2)

13.06

In [8]:
ws_std = round(df['Maximum windspeed (mph)'].std(), 2)
ws_std

13.06

### What is the difference between 50th percentile and 75th percentile of average temperature

In [9]:
p_range = round(df['Average temperature (°F)'].quantile(0.75)-df['Average temperature (°F)'].quantile(0.5), 2)
p_range

12.2

### What is the pearson correlation between average dew point and average temperature

In [10]:
corr = corr = round(df['Average dewpoint (°F)'].corr(df['Average temperature (°F)'], method='pearson'), 2)
corr

0.76

### Out of all the available records which month has the lowest average humidity.
    - Assign your answer as month index, for example if its July index is 7

In [14]:
df['datetime'] = pd.to_datetime(df['Day'], format='%d/%m/%Y')
df['Month'] = df['datetime'].dt.month
mask =df[ df['Average humidity (%)']==df['Average humidity (%)'].min()]
mask['Month'][1300]

1

In [15]:
df['datetime'] = pd.to_datetime(df['Day'], format='%d/%m/%Y')
df['Month'] = df['datetime'].dt.month
mask = df['Average humidity (%)']==df['Average humidity (%)'].min()
dew = df.loc[mask]
dew_month = dew['Month'][1300]
dew_month

1

### Which month has the highest median for maximum_gust_speed out of all the available records. Also find the repective value
    - hint: group by month

In [19]:
df['Month'].value_counts()
df['Month'].median()
median1 = df.groupby(df['Month']).median()
median1

<ipython-input-19-a4d79c30d138>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median1 = df.groupby(df['Month']).median()

,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
Month,,,,,,,,,,,,,,,,,,,
1,30.40,43.0,9.00,30.1,7.5,10.90,254.0,0.030,0.03,0.0,41.50,20.50,68.0,24.0,30.2460,29.8875,21.9,32.2,41.50
2,29.65,45.0,8.40,30.0,7.6,11.20,260.0,0.075,0.27,0.0,40.40,19.40,76.5,26.0,30.1820,29.8155,23.0,34.5,40.40
3,37.60,42.0,13.60,29.9,6.5,9.80,246.0,0.080,0.60,0.0,50.10,25.00,77.0,20.0,30.1120,29.7360,21.9,31.1,50.10
4,40.70,49.0,21.50,29.9,5.1,7.90,251.0,0.320,1.32,0.0,54.40,27.50,84.0,22.0,30.0660,29.6900,19.6,27.6,54.40
5,48.90,55.0,30.40,29.8,3.9,6.20,258.0,1.060,3.04,0.0,61.20,34.90,87.0,24.0,29.9320,29.6510,17.3,26.0,61.20
6,60.40,45.0,37.20,29.7,3.9,6.20,251.0,0.270,4.04,0.0,76.10,42.50,85.0,17.0,29.8650,29.5870,18.4,26.5,78.50
7,64.10,53.0,43.80,29.8,3.2,5.10,260.0,0.810,6.36,0.0,80.30,47.60,88.0,21.0,29.9240,29.6670,16.1,24.2,79.10
8,61.75,51.0,40.35,29.8,3.0,4.85,273.0,0.400,8.34,0.0,78.10,45.30,85.0,21.0,29.9495,29.6945,16.1,24.2,78.90
9,56.80,47.0,32.90,29.9,3.3,5.40,263.0,0.160,9.17,0.0,73.70,38.90,83.0,18.0,30.0290,29.7000,16.1,24.2,77.00
10,45.70,48.0,24.00,29.9,4.6,7.30,255.0,0.430,10.71,0.0,59.60,32.50,82.0,23.0,30.0860,29.7530,17.3,26.5,59.60
11,38.20,40.0,13.90,30.0,7.4,11.40,250.0,0.140,11.55,0.0,50.40,25.10,75.0,20.0,30.2010,29.7990,21.9,32.2,50.40
12,30.85,44.0,8.50,30.0,7.2,10.90,243.0,0.100,12.67,0.0,39.95,19.15,73.0,26.0,30.2035,29.8170,23.0,33.4,39.95

In [21]:
df['Month1'] = df['datetime'].dt.month
median1 = df.groupby(df['Month']).median()
max_gust_value = median1['Maximum gust speed (mph)'].max()
mask =  median1['Maximum gust speed (mph)']==median1['Maximum gust speed (mph)'].max()
max_gust_month = median1.loc[mask]
max_gust_month = max_gust_month['Month1']
max_gust_month = int(max_gust_month[2])
print(max_gust_value)
print(max_gust_month)

34.5
2

<ipython-input-21-81804fae0fae>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median1 = df.groupby(df['Month']).median()

In [20]:
df['Month1'] = df['datetime'].dt.month
median1 = df.groupby(df['Month']).median()
max_gust_value = median1['Maximum gust speed (mph)'].max()
mask =  median1['Maximum gust speed (mph)']==median1['Maximum gust speed (mph)'].max()
max_gust_month = median1.loc[mask]
max_gust_month

<ipython-input-20-30449292c693>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median1 = df.groupby(df['Month']).median()

,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),Month1
Month,,,,,,,,,,,,,,,,,,,,
2,29.65,45.0,8.4,30.0,7.6,11.2,260.0,0.075,0.27,0.0,40.4,19.4,76.5,26.0,30.182,29.8155,23.0,34.5,40.4,2.0

### Determine the average temperature between the months of March 2010 to May 2012 (including both the months)

In [22]:
mask = (df['datetime']>='2010/03/01') & (df['datetime']<'2012/06/01')
mask_data = df.loc[mask]
avg_temp = round(mask_data['Average temperature (°F)'].mean(), 2)
avg_temp

45.33

### Find the range of averange temperature  on Dec 2010

In [23]:
mask = (df['datetime']>='2010/12/01') & (df['datetime']<'2011/01/01')
mask_data = df.loc[mask]
temp_min = mask_data['Average temperature (°F)'].min()
temp_max = mask_data['Average temperature (°F)'].max()
temp_range = round(temp_max-temp_min, 2)
temp_range

44.8

### Out of all available records which day has the highest difference between maximum_pressure and minimum_pressure
    - assign the date in string format as 'yyyy-mm-dd'. Make sure you enclose it with single quote

In [24]:
df['pressure_diff'] = df['Maximum pressure ']-df['Minimum pressure ']
max_p_range_day = df[df['pressure_diff']==df['pressure_diff'].max()].datetime
max_p_range_day = max_p_range_day.to_string(index=False)
max_p_range_day

'2018-03-23'

### How many days falls under median (i.e equal to median value) of barrometer reading.

In [25]:
med = df[df['Average barometer (in)']==df['Average barometer (in)'].median()]
median_b_days = len(med) 
median_b_days

534

### Out of all the available records how many days are within one standard deviation of average temperaturem

In [26]:
std = df['Average temperature (°F)'].std()
mean = df['Average temperature (°F)'].mean()
no_days = df[(df['Average temperature (°F)'] >= mean-std) & (df['Average temperature (°F)'] <= mean + std)]
num_days_std =  len(no_days)  
num_days_std

2092

## Once you are done with your solution make sure you have saved the notebook (ctrl + s)